@font-face {
  font-family: 'SchistRegular';
  src:  url(../fonts/Schist_font/SchistRegular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'ColoredCrayons';
  src:  url(../fonts/colored-crayons-font/ColoredCrayons-7wPR.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
