@import "./variables";

.container {
  max-width: 1560px;
  height: 702px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
}

.img-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center bottom;
}

.btn-continue {
  font-family: $title__font-family;
  font-size: $base__font-size;
  font-weight: bold;
  letter-spacing: $letter-spacing;
  color: $base__color;
  padding: 10px;
  background-color: $second__color;
  border: 1px solid transparent;
  border-radius: 8px;
  animation: appearBtnContinue 1s linear;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
  position: absolute;
  bottom: 20px;
  right: 40px;
  z-index: 55;
  cursor: pointer;
}

.blurred-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(3px);
  z-index: 55;
}

@keyframes appearBtnContinue {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

