@import "./font-family.scss";

$base__font-size: 18px;
$base__font-family: 'MainFont' !important;
$base__color: #c1314a;

$second__color: #d8cccc;
$courses__fonts__color: #c25164;
$title__font-size: 35px;
$title__font-family: 'OpenSansBI' !important;
$profesion__title__font-size: 22px;
$letter-spacing: .2rem;
$contacts_fonts: 12px;
