@import "styles/variables.scss";

.header-container {
  position: absolute;
  top: 30px;
  right: 50px;

  @media (min-width: '600px') {
    right: 100px;
  }
}

.flag {
  position: absolute;
  top: 68px;
  right: -40px;
  border: 33px solid $courses__fonts__color;
  border-bottom: 20px solid transparent;
  z-index: 20;
}
