@import "~normalize.css";
@import "./styles/main.scss";

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;

  :visited {
    color: inherit;
  }
}

ul {
  list-style-type: none;
}

.App {
  display: none;

  @media (min-width: "500px") {
    display: block;
    background: center / cover no-repeat url("./accets/background.png");
    //height: 100vh;
  }
}
